/* styles.css or your preferred stylesheet */

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

main {
  flex: 1;
}

footer {
  background-color: #f8f9fa;
  padding: 10px;
  text-align: center;
  margin-top: auto; /* Use margin-top: auto to push the footer to the bottom */
  width: 100%;
}

.login{
  margin:10px;
}

